h1{
  margin-bottom:20px;
  text-align:center;
  margin-top:2px;

}
h2{
  margin-top:20px;
  border-bottom:solid 2px #b0b0b0;
}

p{
  margin-left: 5px;
  text-align:justify;
}
li{
  margin-left: 15px;
}

table{
  border-collapse:collapse;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  margin-bottom:10px;
}

table td,table th{
  border: solid 1px black;
}

.center{
  text-align:center;
  margin:auto;
}

p a img{
  vertical-align:middle;
}
ul.none{
  padding-left:0px;
  margin-left:0px;
}
ul.none li{
  padding-left:0px;
  margin-left:25px;
}

